# Lesson 1 - Completing a task list with AI

In this course, you'll learn how to automate tasks using Python. This means you'll be able to have Python **do repetitive things** and **make decisions** for you. One important skill you'll develop is the ability to store multiple pieces of data together. This lesson will introduce you to **lists**, a powerful tool for this purpose.

To get started, let's load some functions that you'll use in this lesson.

In [1]:
from helper_functions import print_llm_response, get_llm_response

### What are lists?
In the last course, you learned about variables. Each variable holds a single piece of data.

For example:

In [4]:
name = "Daniel"

Let's say I want to write a poem for all my friends... all three of them. Run the cell below, then change the name above to Isabel and rerun the cell.

In [5]:
prompt = f"""
Write a four line birthday poem for my friend {name}. 
The poem should be inspired by the first letter of my friend's name.
"""
print_llm_response(prompt)

____________________________________________________________________________________________________
Dancing through life with joy and grace,
A friend like you, a true embrace.
Never-ending laughter in your space,
I wish you happiness in every place.
____________________________________________________________________________________________________

Changing the value held by a variable requires lots of updates to the variables. A better way to handle this is by using a list. 

Lists are a data type in Python that can hold multiple pieces of data. This reduces the need for repetitive variable assignments since you can include all the pieces of data together.

## Creating  a list

Below, you will create a list that holds the names `"Tommy"`, `"Isabel"` and `"Daniel"`.

In [6]:
friends_list = ["Tommy", "Isabel", "Daniel"]

In [7]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

`friends_list` is a single variable of type `list` that holds multiple values.

In [8]:
type(friends_list)

list

You can check how many values are stored in the list by using `len()`:

In [9]:
len(friends_list)

3

So this list has three elements.

You can use lists as you used variables before within LLM prompts. Below, you are including the `friends_list` in the prompt to write four-line birthday poems for `'Tommy'`, `'Isabel'` and `'Daniel'`.

In [10]:
prompt = f"""
Write a set of four line birthday poems for my friends {friends_list}. 
The poems should be insipred by the first letter of each friend's name.
"""
print(prompt)

Write a set of four line birthday poems for my friends ['Tommy', 'Isabel', 'Daniel'].
The poems should be insipred by the first letter of each friend's name.

Now, you can use that prompt with the LLM:

In [11]:
print_llm_response(prompt)

____________________________________________________________________________________________________
1. Tommy, a friend so true and kind,
On your birthday, joy and laughter you'll find.
May your day be filled with love and cheer,
Wishing you a fantastic year!

2. Isabel, with a heart so pure,
On your special day, may happiness endure.
May your dreams take flight and soar,
Celebrating you, we all adore!

3. Daniel, a friend so dear,
On your birthday, let's raise a cheer.
May your day be filled with delight,
Wishing you happiness, morning to night!
____________________________________________________________________________________________________

## Accessing individual elements of a list

You can access individual elements from a list. Let's ask the chatbot how to do that.

<p style="background-color:#F5C780; padding:15px"> ðŸ¤– <b>Use the Chatbot</b>: How do I access a specific element of this list:
friends_list = ["Tommy", "Isabel", "Daniel"]
</p>

For instance, to access the first element, you would use the following code:

In [12]:
first_friend = friends_list[0]
print(first_friend)  # Output: Tommy

Tommy

To access the second element, you would use the following code:

In [13]:
print(friends_list[1]) # Output: Isabel

Isabel

Note that for accessing the first element you used the index 0, and for accessing the second element you used 1.

So, if you do the following, you'll get an error.

In [14]:
print(friends_list[3]) # Gives an error

IndexError: list index out of range

But, if you run the following code, you will be able to access the last element from that list.

In [15]:
print(friends_list[2])

Daniel

## Adding another element to the list

In [16]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel']

If you want to add some data to an list, you will use `list.append(new_data)`. So, to add `"Otto"` to your `friends_list`, you can run the following code:

In [17]:
# add single element to list
friends_list.append("Otto")

In [20]:
print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'Yvonne']

Try for yourself - modify code to add another friend, or yourself

In [19]:
# Modify the code below to add another friend:
friends_list.append("Yvonne")

## Deleting elements

Tommy moved to Bora Bora, so we can't be friends anymore. Let's remove Tommy from `friends_list` by using `.remove()`:

In [21]:
#using remove
friends_list.remove("Tommy")

In [22]:
print(friends_list)

['Isabel', 'Daniel', 'Otto', 'Yvonne']

## Lists with other data types

Lists can hold any type of data. For instance, here is a list of numbers

In [23]:
list_ages = [42, 28, 30]

In [24]:
print(list_ages)

[42, 28, 30]

Lists can also hold long strings. Here's a list of tasks that might make up a todo list

In [25]:
#list of tasks in priority order. Multi-line lists are allowed in python!
list_of_tasks = [
    "Compose a brief email to my boss explaining that I will be late for tomorrow's meeting.",
    "Write a birthday poem for Otto, celebrating his 28th birthday.",
    "Write a 300-word review of the movie 'The Arrival'."
]

If you were wondering how to use lists with AI, take this example. Each element in the previous list is a string that you can pass to `print_llm_response()`. If you want an LLM to do each of these tasks for you, here's what you would do:

Set a variable called `task` to each element in the list in turn, then pass it to `print_llm_response()`.

In [26]:
task = list_of_tasks[0]
print_llm_response(task)

____________________________________________________________________________________________________
Subject: Running Late for Tomorrow's Meeting

Hi [Boss's Name],

I wanted to let you know that I will be running a few minutes late for tomorrow's meeting due to an unexpected appointment. I apologize for any inconvenience this may cause and will join the meeting as soon as I can.

Thank you for your understanding.

Best regards,
[Your Name]
____________________________________________________________________________________________________

In [27]:
task = list_of_tasks[1]
print_llm_response(task)

____________________________________________________________________________________________________
Happy 28th birthday, Otto dear,
Another year to hold so near.
May joy and laughter fill your day,
And blessings come in every way.

With each new year, you shine so bright,
Your future's looking just as right.
So celebrate with all your might,
And make this day a pure delight.

Cheers to you, Otto, on this special date,
May your year ahead be truly great.
____________________________________________________________________________________________________

In [29]:
task = list_of_tasks[2]
print_llm_response(task)

____________________________________________________________________________________________________
"The Arrival" is a captivating science fiction film that delves into the complexities of communication and the consequences of human actions. Directed by Denis Villeneuve, the movie follows linguist Louise Banks, played brilliantly by Amy Adams, as she is tasked with deciphering the language of extraterrestrial visitors who have arrived on Earth.

The film's slow-burning tension and thought-provoking narrative keep viewers engaged from start to finish. Villeneuve's masterful direction creates a sense of unease and wonder, drawing audiences into the mysterious world of the aliens and the high-stakes diplomatic efforts to understand their intentions.

Amy Adams delivers a standout performance as Louise Banks, capturing the character's intelligence, vulnerability, and determination with nuance and depth. Her emotional journey as she grapples with personal loss and the weight of her monumental task adds a poignant layer to the film.

The visual effects in "The Arrival" are stunning, creating a sense of awe and otherworldliness that enhances the story's sense of wonder and danger. The alien spacecraft and their intricate language are beautifully realized, adding to the film's immersive atmosphere.

The film's exploration of themes such as communication, time, and the nature of humanity elevates it beyond a typical sci-fi thriller. It challenges viewers to consider the implications of our actions and the power of language to shape our understanding of the world.

In conclusion, "The Arrival" is a thought-provoking and visually stunning film that offers a fresh take on the alien invasion genre. With its strong performances, compelling story, and striking visuals, it is a must-see for fans of intelligent science fiction cinema.
____________________________________________________________________________________________________

You worked through all the elements in the list, but there is still a lot of repetition here. You had to specify each element separately. There is actually a much better way to do this using something called a for loop. Let's go to the next video to see it in action.

## Extra practice

Please go through the exercises in the cells below if you want some extra practice for the topics you covered in this lesson.

In [30]:
# Create a list with the titles 
# of five of your favorite movies

### WRITE CODE HERE ###
movie_list = "transformers", "iron man", "batman", "notebook", "fightclub"
### --------------- ###
print(movie_list)

('transformers', 'iron man', 'batman', 'notebook', 'fightclub')

In [35]:
# Display the fourth element of 
# the following list using print()

prime_numbers = [2, 3, 5, 7, 11]

### WRITE CODE HERE ###
print(prime_numbers[4])
### --------------- ###

11

In [36]:
# Fix the bug in the following code

prime_numbers = [2, 3, 5, 7, 11]

### FIX THIS CODE ###
print(prime_numbers[3]) #access and print() the fourth element
### --------------- ###

7

In [39]:
# Add one name to friends_list using append

friends_list = ["Tommy", "Isabel", "Daniel", "Otto"]

### WRITE CODE HERE ###
friends_list.append("Yvonne")
### --------------- ###

print(friends_list)

['Tommy', 'Isabel', 'Daniel', 'Otto', 'Yvonne']

In [40]:
# In the following code, remove the country 
# that is not in South America

countries_in_south_america = ["Colombia", "Peru", 
                              "Brasil", "Japan",
                              "Argentina"]

### WRITE CODE HERE ###
countries_in_south_america.remove("Japan")
### --------------- ###

print(countries_in_south_america)

['Colombia', 'Peru', 'Brasil', 'Argentina']